<div class="dashboard-container">
  <h2>Dashboard</h2>

  <!-- Balanço Patrimonial -->
  <div class="card">
    <h3>Balance Sheet</h3>
    <table>
      <tr>
        <td>Assets:</td>
        <td>{{ balanceSheet.assets | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>Liabilites:</td>
        <td>{{ balanceSheet.liabilities | currency:'BRL' }}</td>
      </tr>
      <tr class="highlight">
        <td>Equity:</td>
        <td>{{ balanceSheet.equity | currency:'BRL' }}</td>
      </tr>
    </table>
    <canvas id="balanceChart"></canvas>
  </div>

  <!-- DRE -->
  <div class="card">
    <h3>Income Statement</h3>
    <table>
      <tr>
        <td>Income:</td>
        <td>{{ incomeStatement.income | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>Expenses:</td>
        <td>{{ incomeStatement.expense | currency:'BRL' }}</td>
      </tr>
      <tr class="highlight">
        <td>Result:</td>
        <td>{{ incomeStatement.result | currency:'BRL' }}</td>
      </tr>
    </table>
    <canvas id="incomeChart"></canvas>
  </div>
</div>
